* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  border-radius: 4px;
  width: 256px;
  height: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  margin-bottom: 25px;
  margin-right: 10px;
  padding: 16px 16px;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font: 500 16px / 1.5 Montserrat, sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}

.button[disabled] {
  background: #cfcfcf;
  color: #989898;
}
/* .button:hover {
  background: #6c8cff;
} */
.button:disabled {
  background: #cfcfcf;
  color: #989898;
}
body {
  background: #fff;
  width: 407px;
  height: 1820px;
}
.timer {
  display: flex;
  width: 346px;
  height: 72px;
}
.timer {
  display: flex;
  justify-content: space-evenly;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
